<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <style>
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 5px;
            position: absolute;
            width: 100%;
            bottom: 0;
            
        }

        
    </style>
</head>
<body>
    <% if (username) { %>
        <%- include('header', { username: username }) %> 
    <% } else { %>
        <%- include('header') %> 
    <% } %>

    <h2 >Privacy Policy</h2>
    <p>Your privacy is important to us. Please read the following policy to understand how we collect, use, and protect your data.</p>

    

    <footer>
        <%- include('footer') %>
    </footer>
</body>
</html>
